<div id="content-top"></div>
<div id="content-middle">
		
    <div>
	<button id="buat">Buat Skema PC</button>
    </div><br>
    
    <div id="form_skema">
	<table>
	    <tr><td>Nama Skema</td><td>:</td><td><input type="text" name="nama_skema"></td></tr>
	</table>
    </div>
		
    <div class="clear"></div>
</div>	
<div id="content-bottom"></div>